@model Restaurant

    <h1>Review for @ViewBag.review.RestaurantName</h1><br><br>
    <h4>@ViewBag.review.ReviewerName</h4>
    <h5>@ViewBag.review.StarRating stars</h5>
    <p>@ViewBag.review.ReviewComment</p>
